<main class="userSession-main">
    <div class="userSessionForm-container">
        <h1>Reset Password</h1>
        <form class="userSessionForm" id="resetPasswordForm">
            <input type="hidden" name="token" value="{{token}}">
            <div>
                <label>Email</label>
                <input class="formField" name="email">
            </div>
            <div>
                <label>Nueva Contraseña</label>
                <input class="formField" type="password" name="password">
            </div>

            <br>
            <div>
                <input class="btn-normal" type="submit">
            </div>
        </form>
    </div>

</main>

<script src="/js/resetPassword.js"></script>