<main class="userSession-main">
    <div class="userSessionForm-container">
        <h1>Login</h1>
        <form class="userSessionForm" id="loginForm">
            <div>
                <label>Email</label>
                <input class="formField" name="email">
            </div>
            <div>
                <label>Contraseña</label>
                <input class="formField" type="password" name="password">
            </div>

            <br>
            <div>
                <input class="btn-normal" type="submit">
            </div>
        </form>
    </div>
        <div>
            <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
        </div>
</main>

<script src="/js/login.js"></script>