<main class="userSession-main">
    <div class="userSessionForm-container">
        <h1>Login</h1>
        <form class="userSessionForm" id="loginForm">
            <div>
                <label>Email</label>
                <input class="formField" name="email">
            </div>
            <div>
                <label>Contraseña</label>
                <input class="formField" type="password" name="password">
            </div>

            <br>
            <div class="btn-normal">
                <input class="btn-normal" type="submit" value="Entrar">
            </div>
        </form>
    </div>
    <section class="footer-options-container">
        <p>¿No estás registrado? <a href="/user/register">Regístrate aquí</a></p>
        <br>
        <p>¿Tienes una cuenta de <strong>GitHub?</strong> <a href="/github/login">Regístrate aquí</a></p>
        <br>
        <p>¿Olvidaste tu contraseña? <a href="#" id="resetPasswordLink">Haz click aquí para establecer una nueva</a></p>
    </section>

</main>

<script src="/js/login.js"></script>