<main class="githubLogin-main">

<div>
    <h1>Logueate con GitHub</h1>
</div>
   
<div class="btn-normal">
     <a href="/api/sessions/github"><button>Entrar con Github</button></a>
</div>

<div class="text-container">
     <h4>No quieres usar GitHub? Puedes usar nuestros enlaces:</h4>
     <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
     <p>¿Tienes una cuenta con nosotros? <a href="/users/login">Haz Login aquí</a></p>
</div>   
   





</main>