<main class="userSession-main">
    <h2>Sesión cerrada correctamente</h2>
    <br>
    <p><a href="/users/login">Login</a></p>
    <p><a href="/products">Ver productos sin entrar a mi cuenta</a></p>
</main>