<main class="userSession-main">
    <div class="userSessionForm-container">
        <h1>Registro</h1>
        <form class="userSessionForm" id="registerForm">
            <div>
                <label>Nombre</label>
                <input class="formField" name="first_name">
            </div>
            <div>          
                <label>Apellido</label>
                <input class="formField" name="last_name">
            </div> 
            <div>         
                <label>Email</label>
                <input class="formField" name="email">
            </div>
            <div>           
                <label>Edad</label>
                <input class="formField" name="age">
            </div>
            <div>
                <label>Contraseña</label>
                <input class="formField" type="password" name="password">
            </div> 

            <br>
            <div>
                <input class="btn-normal" type="submit">
            </div>

        </form>
    </div>
    <div>
        <p>¿Ya tienes una cuenta? <a href="/user/login">Ingresa aquí</a></p>
    </div>
</main>

<script src="/js/register.js"></script>
